$green: #00b7af;
$orange: #ffce46;
$violet: #6a53dc;

$duration: 0.55s;

$main: #2b6ca3;
$main-rgb: rgb(43, 108, 163);
$secondary: #ffde11;
$yellow: #f8e253e8;
$white: #ffffff;
$black: #232323;

// breakpoints
$phone: 320px;
$phoneSix: 375px;
$phonePlus: 414px;
$phoneLandscape: 480px;
$tablet: 768px;
$tablet-width: 980px;
$tabletHeight: 700px;
$tabletLandscape: 1023px;
$desktop: 1280px;
$desktopMid: 1400px;
$desktopBig: 1600px;
$desktopWide: 1920px;
